.popover-color-picker {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	.control-label {
		flex-basis: calc(100% - 46px);
	}
}

.color-picker-wrap {
	padding: 5px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
	display: inline-block;
	cursor: pointer;

	.color-picker-preview {
		width: 36px;
		height: 14px;
		border-radius: 2px;
	}
}

.color-picker-palette{
	padding-left: 16px;
	padding-top: 5px;
	margin-top: 0;
	margin-bottom: 20px;
	overflow:hidden;

	&.components-color-palette{
		margin-right: 0;
	}

	.components-color-palette__clear{
		display: none;
	}
}