.popover-color-picker {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	.control-label {
		flex-basis: calc(100% - 46px);
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
		font-size: 13px;
		font-weight: 400;
	}
}

.color-picker-wrap {
	padding: 5px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
	display: inline-block;
	cursor: pointer;
	height: 26px;
	width: 50px;
	margin-right:1px;

	.color-picker-preview {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 2px;
	}
}

.color-picker-palette{
	padding-left: 16px;
	padding-top: 5px;
	margin-top: 0;
	margin-bottom: 20px;
	overflow:hidden;

	&.components-color-palette{
		margin-right: 0;
	}

	.components-color-palette__clear{
		display: none;
	}
}