.responsive-devices-control{
	&.has-label{
		.responsive-devices-wrap{
			margin-top: -22px;
		}
	}
}
.responsive-devices-wrap{
	[role="tablist"] {
		text-align: right;

		&::after{
			content: '';
			display:table;
			clear: both;
		}
	}
	button[role="tab"] {
		background:none;
		border: none;
		opacity: 0.4;
		outline:0;
		padding-left: 3px;
		padding-right: 3px;
		cursor: pointer;
	
		&.active-tab{
			opacity: 1;
		}
		&:last-child{
			padding-right: 0;
		}
	}
}
@mixin visual-editor{
	background: #191e23;
	overflow:hidden;
	
}
@mixin editor-writing-flow{
	margin: auto;
	height: 1080px;
	max-height: 100%;
	max-width: 100%;
	background-color: #fff;
	transition: all .2s;
	overflow-x:hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: transparent;
	}
}
/** Styling Devices **/
.pm-match-tablet{
	.edit-post-visual-editor{
		@include visual-editor;
		@media (max-width: 740px) {
			background: #fff;
		}
		.editor-writing-flow{
			@include editor-writing-flow;
			width: 720px;
		}
	}
}

.pm-match-mobile{
	.edit-post-visual-editor{ 
		@include visual-editor;
		display: flex;
		align-items: center;
		justify-content: center;

		.editor-writing-flow{
			@include editor-writing-flow;
			width: 320px;
			height: 480px;
			.editor-post-title,
			.editor-block-list__layout{
				padding-left: 5px;
				padding-right: 5px;
			}
		}	
	}
}
