.responsive-devices-control{
	&.has-label{
		.responsive-devices-wrap{
			margin-top: -22px;
		}

		
	}
}
.responsive-devices-wrap{
	[role="tablist"] {
		text-align: right;

		&::after{
			content: '';
			display:table;
			clear: both;
		}
	}
	button[role="tab"] {
		background:none;
		border: none;
		opacity: 0.4;
		outline:0;
		padding-left: 3px;
		padding-right: 3px;
		cursor: pointer;
	
		&.active-tab{
			opacity: 1;
		}
		&:last-child{
			padding-right: 0;
		}
	}
}
@mixin editor_responsive_device() {
	margin: auto;
	
    background: #d9dbdc;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);
	
	.editor-writing-flow {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%!important;
		width: 100%!important;

		> div:first-child {
			position: relative;
			overflow-x: hidden;
			overflow-y: auto;
			height: 100%;
			z-index: 3;
			background: white;
			display: block;
			border-radius: 1px;
			box-shadow: 0 0 0 3px #111;
		}

		.editor-writing-flow__click-redirect{
			flex-basis: inherit;
		}
		
		&::before{
			content: '';
			display: block;
			z-index: 1;

			border-radius: 36px;
			width: 50px;
			height: 50px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 20px;
			background: #fcfcfc;
			-webkit-box-shadow: inset 0 0 0 1px #bcbcbc;
			box-shadow: inset 0 0 0 1px #bcbcbc;
		}

		&::after{
			width: 15px;
			height: 15px;
			margin-top: -8px;
			
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 4px;
			position: absolute;
			display: block;
			content: '';
			bottom: 38px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 5;
		}
	}
	
	&::before{
		position: absolute;
		content: '';
		display: block;
		background: #f8f8f8;
		z-index: 1;
	}

	&::after{
		content: '';
		display: block;
		background: #3c3d3d;
		width: 10px;
		height: 10px;
		position: absolute;
		top: 44px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 100%;
		z-index: 5;
	}
}
.post-php.tablet .edit-post-visual-editor{
	max-width: 1024px;
	width: 600px;
    max-height: 820px;
	padding: 90px 25px;
	border-radius: 44px;
	
	@include editor_responsive_device();

	&::before{
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		top: 4px;
		left: 4px;
		border-radius: 40px;
	}
}

.post-php.mobile .edit-post-visual-editor{
	max-width: 568px;
	width: 375px;
	max-height: 760px;
	border-radius: 56px;
	padding: 105px 24px;
	@include editor_responsive_device();

	&::before{ 
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		top: 6px;
		left: 6px;
		border-radius: 50px;
	}

	.editor-writing-flow { 
		&::before{
			bottom: 25px;
		}

		&::after{
			bottom: 42px;
		}
	}

	@media (max-width: 600px) {
		max-height: initial;
		.editor-writing-flow{
			max-height: 760px;
		}
	}
}

@mixin pm_mobile_editor_padding{
	padding-left: 5px;
	padding-right: 5px;
}
.post-php{
	&.mobile{
		.editor-writing-flow{
			.editor-post-title{
				@include pm_mobile_editor_padding;
			}
			.editor-block-list__layout{
				@include pm_mobile_editor_padding;
			}
		}
	}
}