.accordion-section-control {
	.accoridion-section-header {
		background-color: #f3f4f5;
		position: relative;
		padding: 5px 0;
		margin-bottom: 10px;
		line-height: 1.5;
		cursor: pointer;

		&::after {
			content: " ";
			background-color: #f3f4f5;
			width: 16px;
			height: 100%;
			position: absolute;
			left: 100%;
			top: 0;
		}

		&::before {
			content: " ";
			background-color: #f3f4f5;
			width: 16px;
			height: 100%;
			position: absolute;
			right: 100%;
			top: 0;
		}

		.control-label {
			font-size: 15px !important;
			font-weight: bold;
			color: #000;
		}

		.accordion-state-icon {
			display: inline-block;
			float: right;
			

			.accordion-icon{
				.dashicons{
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}

.edit-post-visual-editor {
	.accordion-section-control {
		.accoridion-section-header {
			&::after,
			&::before {
				width: 14px;
			}
		}
	}
}
