.typography-dropdown-control{
	.components-dropdown-menu__toggle{
		width: auto;
		margin: 0;
		padding: 4px;
		border: 1px solid transparent;
		display: flex;
		flex-direction: row;
	}
	.components-dropdown-menu__indicator{
		content: "";
		pointer-events: none;
		display: block;
		width: 0;
		height: 0;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 5px solid currentColor;
		margin-left: 4px;
		margin-right: 2px;
	}
}

.typography-dropdown-content{
	padding: 15px;
}